---
# defaults file for pacificadispatcher
size: 1
debug: false
secret_name: notify-subscription-secret
secret_url_key: url
secret_auth_type_key: type
secret_auth_basic_user_key: user
secret_auth_basic_pass_key: pass
shared_pvc: dispatcher-shared-pvc
image: pacifica/dispatcher-k8s:v0.1.4
command: ['pacifica-dispatcher-k8s']
wait_services: []
setup_init_containers: []
subscription:
  name: notify-subscription-secret
  jsonpath: '$.data'
  target_url: http://dispatcher.example.com/receive

__init_containers:
  - name: wait-for-services
    image: busybox:1.28
    env: "{{ _dispatcher_pacifica_io_pacificadispatcher_spec.env | default([]) }}"
    command:
      - sh
      - -c
      - |
        {% for service in wait_services %}
        ns=$(cat /var/run/secrets/kubernetes.io/serviceaccount/namespace)
        until nslookup {{ service }}.${ns}.svc.cluster.local; do
          echo waiting for {{ service }}; sleep 2;
        done;
        {% endfor %}
        echo done;
